<div class="card rounded-4">
  <div class="d-flex justify-content-between align-items-center card-body">
    <div class="d-flex align-items-start">
      <div>
        <h2>¥</h2>
      </div>
      <h2 class="ms-3" data-display-num-days-target="price" data-original-price="<%= @camera.price %>"><strong>0</strong></h2>
    </div>
    <div class="d-flex align-items-center align-items-end me-5">
      <strong>
        <h1><span class="p-2 bd-highlight text-warning" data-display-num-days-target="total">0</span></h1>
      </strong>/days
    </div>
  </div>
</div>
