<div class="container mt-3">
  <div class="d-flex justify-content-between align-items-center">
    <h1>cameras</h1>
    <% if policy(Camera).new? %>
      <%= link_to new_camera_path, class: 'text-dark text-decoration-none' do %>
        <i class="fa-solid fa-plus"></i>
      <% end %>
    <% end %>
  </div>
  <div class="cards">
    <% @cameras.each do |camera| %>
      <%= render 'cameras/card', camera: camera %>
    <% end %>
  </div>
</div>
