<div class="card">
  <div class="card-body">
    <div class="container">
      <div class="container mt-2">
        <div class="row justify-content-around">
          <div class="col-12 col-sm-6">
            <div class="image-container">
              <%= cl_image_tag @camera.photos.first.key, class:"small-images" %>
              <div class="d-flex">
                <% @camera.photos.each do |photo| %>
                  <% next if @camera.photos.first == photo %>
                  <div class="col-4 p-1"><%= cl_image_tag photo.key, class:"small-images" %></div>
                <% end %>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 mt-5">
            <div class="side-info-container">
              <%= render 'cameras/side_info' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'cameras/book_form' %>
